@model JooleDAL.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style>
        body {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: linear-gradient(to bottom, steelblue, white);
        }

        .img-container {
            position: relative;
            top: 200px;
            text-align: center;
        }

        h1 {
            position: relative;
            top: 200px;
        }

        /*Login form*/
        .loginform {
            position: relative;
            top: 200px;
            max-width: 450px;
            margin: auto;
        }

        /*User and Password containers*/
        .inputContainer {
            width: 100%;
            margin-bottom: 10px;
        }

            /*User and Password icons*/
            .inputContainer i {
                position: absolute;
                left: 430px;
            }

        /*User and Password icons*/
        .icon {
            padding: 15px;
            color: rgb(49, 0, 128);
            width: 70px;
            text-align: left;
            /*text-align: right;*/
        }

        /*User and Password input text*/
        /*.Field {
            width: 500px;
            margin-bottom: 15px;
            margin: auto;
            padding: 10px;
            border-radius: 4px;
            text-align: left;
            font-size: 20px;
            font-weight: 500;
        }*/

        /*Log In button*/
        .loginbutton {
            /*position: relative;
            left: 390px;*/
            position: absolute;
            left: 370px;
            margin-top: 5px;
            border-radius: 4px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 30px;
            padding-right: 30px;
            border: hidden;
            display: block;
            background-color: steelblue;
            color: white;
            text-align: center;
        }

            .loginbutton:hover {
                background-color: mediumblue;
            }

        /*Sign Up button in the top right corner*/
        #myBtn {
            position: absolute;
            right: 200px;
            top: 15px;
            border: none;
            outline: none;
            background-color: transparent;
            color: black;
            font-size: 18px;
        }

        /*Sign up form input text*/
        .field {
            border-radius: 5px;
            /*border-top-color: lightgrey;
            border-bottom-color: lightgrey;
            border-left-color: lightgray;
            border-right-color: lightgray;*/
            border-color: lightgray;
            width: 200px;
            margin-left: 90px;
            padding: 10px;
            text-align: left;
            font-size: 14px;
            font-weight: 500;
        }

        .imageelement {
            margin-left: 90px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        /*Thematic break*/
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /*Modal*/
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /*Black with opacity*/
        }

        /*Modal content (the white form)*/
        .modal-content {
            background-color: #ffffff;
            position: relative;
            margin: 2% auto 5% auto; /*2% from the top, 5% from the bottom and centered*/
            border-radius: 8px;
            padding-top: 0.1px;
            padding-bottom: 35px;
            padding-left: 20px;
            padding-right: 20px;
            width: 700px;
        }

        /*.close_container {
            position: absolute;
            top: 20px;
            right: 20px;
            border: 4px solid;
            border-radius: 50%;
            border-color: lightgrey;
            padding: 7px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            text-align: center;
        }*/

        /*Close button (x)*/
        .close {
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 20px;
            /*border: 4px solid;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            color: #f1f1f1;*/
            /*padding: 9px;*/
            font-size: 30px;
            font-weight: bold;
            /*text-align: center;*/
        }

            .close:hover,
            .close:focus {
                color: #f44336;
                cursor: pointer;
            }

        /*uploaed image*/
        img {
            display: block;
            border: none;
            background-color: grey;
            border-radius: 50%;
            max-width: 180px;
            max-height: 180px;
            width: 80px;
            height: 80px;
        }

        /*Sign Up button inside Sign Up form*/
        .signupbutton {
            position: absolute;
            left: 630px;
            bottom: 20px;
            border: hidden;
            border-radius: 8px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 15px;
            padding-right: 15px;
            display: block;
            background-color: steelblue;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    @*Login form here*@
    <div class="img-container">
        <input type="image" id="joole" alt="joole" class="joole" src="~/Images/jooleLogo.png">
    </div>

    <h1 style="text-align:center;font-size:25px;font-weight:normal">Building Product Selection Platform</h1>
    @*Login form here*@
    <div class="loginform">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <div class="inputContainer">
                <i class="fa fa-user icon"> </i>
                @*@Html.EditorFor(model => model.User_Name)*@
                @Html.TextBoxFor(model => model.User_Name, new
                {
                    style = "width:450px;margin-bottom:15px;margin:auto;" +
                    "padding:10px;border-radius:4px;text-align:left;font-size:20px;font-weight:500;",
                    placeholder = "Username Or Email"
                })
                @Html.ValidationMessageFor(model => model.User_Name)

            </div>

            <div class="inputContainer">
                <i class="fa fa-key icon"> </i>
                @*@Html.EditorFor(model => model.User_Password)*@
                @Html.PasswordFor(model => model.User_Password, new
                {
                    style = "width:450px;margin-bottom:15px;margin:auto;" +
                    "padding:10px;border-radius:4px;text-align:left;font-size:20px;font-weight:500;",
                    placeholder = "Password"
                })
                @Html.ValidationMessageFor(model => model.User_Password)

            </div>

            <div class="inputContainer">
                <label>@Html.DisplayFor(model => model.LoginErrorMessage)</label>
            </div>

            <input class="loginbutton" type="submit" value="Log In" />
        }
    </div>
    <!-- Trigger/Open The Modal -->
    <button id="myBtn">Sign Up</button>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        @*Sign up form here*@
        <!-- Modal content -->
        @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { @class = "modal-content"}))
        {
            <span class="close" id="circle">&times;</span>
            <h2 style="font-size: 22px; font-weight: normal">Register as User</h2>
            <hr>
            <table>
                <tr>
                    <td></td>
                    <td><label for="avatar" class="imageelement"><b>Image Preview</b></label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><img id="output_image" class="imageelement"></td>
                </tr>

                <tr>
                    <td></td>
                    <td><label for="avatar" class="imageelement"><b>Your Profile Pic</b></label></td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="file" class="imageelement" accept="image/*" onchange="preview_image(event)"></td>
                </tr>

                <tr>
                    <td><label for="name"><b>UserName:</b></label></td>
                    <td>
                        @Html.TextBoxFor(model => model.User_Name)
                    </td>
                </tr>

                <tr>
                    <td><label for="credential"><b>Credential ID:</b></label></td>
                    <td>
                        @Html.TextBoxFor(model => model.Credential_ID)
                    </td>
                </tr>

                <tr>
                    <td><label for="email"><b>Email Address:</b></label></td>
                    <td>
                        @Html.TextBoxFor(model => model.User_Email)
                    </td>
                </tr>

                <tr>
                    <td><label for="password"><b>Password:</b></label></td>
                    <td>
                        @Html.PasswordFor(model => model.User_Password)
                    </td>
                </tr>
            </table>
            <hr>
            <input class="signupbutton" type="submit" value="Sign up" />
        }

    </div>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script type='text/javascript'>
        function preview_image(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

    @*<script>
            jQuery(document).ready(function () {

                var mouseX = 0, mouseY = 0;
                var xp = 0, yp = 0;
                $(document).mousemove(function (e) {
                    mouseX = e.pageX - 30;
                    mouseY = e.pageY - 30;
                });
                setInterval(function () {
                    xp += ((mouseX - xp) / 6);
                    yp += ((mouseY - yp) / 6);
                    $("#circle").css({ left: xp + 'px', top: yp + 'px' });
                }, 20);
            });
        </script>*@
</body>
</html>